In [84]:
import pandas as pd
import numpy as np

In [85]:
hotellook = pd.read_csv('hotellook_cleaned.csv')
opentrip = pd.read_csv('opentripmap_cleaned.csv')
otello = pd.read_csv('otello_cleaned.csv')

In [86]:
# Приводим названия к нижнему регистру и убираем лишние пробелы
hotellook['name'] = hotellook['name'].str.lower().str.strip()
otello['name'] = otello['name'].str.lower().str.strip()

In [87]:
# Округляем координаты до 2 знаков после запятой (это примерно 1 км, можно подобрать по ситуации)
hotellook['lat_round'] = hotellook['latitude'].round(2)
hotellook['lon_round'] = hotellook['longitude'].round(2)
otello['lat_round'] = otello['latitude'].round(2)
otello['lon_round'] = otello['longitude'].round(2)

# Создаем ключ для группировки по округленным координатам
hotellook['geo_key'] = hotellook['lat_round'].astype(str) + "_" + hotellook['lon_round'].astype(str)
otello['geo_key'] = otello['lat_round'].astype(str) + "_" + otello['lon_round'].astype(str)

In [88]:
df = pd.merge(hotellook, otello, on=['name'], how='left')
df

,id,name,address,location_id,latitude_x,longitude_x,stars,rating,reviews_count,min_price,...,latitude_y,longitude_y,Otello_starRating,Otello_ratingValue,Otello_ratingCount,Otello_bestRating,Otello_worstRating,lat_round_y,lon_round_y,geo_key_y
0,1250022545,мини-отель мопс на рубинштейна,"улица Рубинштейна, д.12, Санкт-Петербург","Санкт-Петербург, Россия",59.931152,30.345670,3,9.2,498,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,964250854,мини отель mushroom,"Набережная Канала Грибоедова,42","Санкт-Петербург, Россия",59.930200,30.319010,3,9.3,0,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,333570,отель вега измайлово,Измайловское шоссе 71 строение 3В,"Москва, Россия",55.790752,37.747135,4,9.0,15712,46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21120269,версаль отель,ул.Восстания д.12,"Санкт-Петербург, Россия",59.936010,30.360070,3,9.2,415,27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1910372927,отель реноме,Гончарная улица 26,"Санкт-Петербург, Россия",59.928090,30.369590,4,9.1,0,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45521,1915703569,"2-комн. квартира, 40 кв.м. на 4 человека","Воскресенская, 14/1","Сочи, Россия",43.402145,39.979725,0,0.0,0,193,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45522,1915947571,"1-комн. квартира, 25 кв.м. на 3 человека","Воскресенская улица, 14/1","Сочи, Россия",43.402195,39.979725,0,0.0,0,185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45523,1915663041,"1-комн. квартира, 25 кв.м. на 3 человека","Воскресенская улица, 14","Сочи, Россия",43.398132,39.980553,0,0.0,0,173,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45524,1915723179,3-комнатная квартира,"Нижнеимеретинская улица, 137А","Сочи, Россия",43.397510,39.968616,0,0.0,0,109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45525,1910167251,брусовый дом 120 кв. м. у моря в лазаревском с...,"Макопсе, ул. Греческая , 20/1","Сочи, Россия",43.996765,39.207077,0,0.0,0,111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45526 entries, 0 to 45525
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  45526 non-null  int64
 1   name                41525 non-null  object
 2   address             45432 non-null  object
 3   location_id         45526 non-null  object
 4   latitude_x          45526 non-null  float64
 5   longitude_x         45526 non-null  float64
 6   stars               45526 non-null  int64
 7   rating              45526 non-null  float64
 8   reviews_count       45526 non-null  int64
 9   min_price           45526 non-null  int64
 10  distance_to_center  45526 non-null  int64
 11  property_type       45526 non-null  object
 12  photos_count        45526 non-null  int64
 13  amenities           12344 non-null  object
 14  badges              1641 non-null   object
 15  check_in            0 non-null      float64
 16  check_out           0 non-null      float64
 17  popularity          45526 non-null  int64
 18  popularity2         45526 non-null  int64
 19  trending_speed      45526 non-null  float64
 20  pois_distances      45525 non-null  object
 21  weights             45526 non-null  float64
 22  district_name       45526 non-null  object
 23  lat_round_x         45526 non-null  float64
 24  lon_round_x         45526 non-null  float64
 25  geo_key_x           45526 non-null  object
 26  checkinTime         3953 non-null   object
 27  checkoutTime        3953 non-null   object
 28  amenityFeature      3953 non-null   object
 29  address_Locality    3953 non-null   object
 30  street_Address      3953 non-null   object
 31  latitude_y          3953 non-null   float64
 32  longitude_y         3953 non-null   float64
 33  Otello_starRating   3953 non-null   float64
 34  Otello_ratingValue  3953 non-null   float64
 35  Otello_ratingCount  3953 non-null   float64
 36  Otello_bestRating   3953 non-null   float64
 37  Otello_worstRating  3953 non-null   float64
 38  lat_round_y         3953 non-null   float64
 39  lon_round_y         3953 non-null   float64
 40  geo_key_y           3953 non-null   object
dtypes: float64(18), int64(8), object(15)
memory usage: 14.2+ MB

In [90]:
df[df.duplicated() == True]

,id,name,address,location_id,latitude_x,longitude_x,stars,rating,reviews_count,min_price,...,latitude_y,longitude_y,Otello_starRating,Otello_ratingValue,Otello_ratingCount,Otello_bestRating,Otello_worstRating,lat_round_y,lon_round_y,geo_key_y
15,44463003,ibis москва динамо,"Ленинградский Проспект 37, корпус 8","Москва, Россия",55.79240,37.543470,3,8.7,6839,39,...,55.792271,37.543708,3.0,4.4,566.0,5.0,1.0,55.79,37.54,55.79_37.54
16,44463003,ibis москва динамо,"Ленинградский Проспект 37, корпус 8","Москва, Россия",55.79240,37.543470,3,8.7,6839,39,...,55.792271,37.543708,3.0,4.4,566.0,5.0,1.0,55.79,37.54,55.79_37.54
17,44463003,ibis москва динамо,"Ленинградский Проспект 37, корпус 8","Москва, Россия",55.79240,37.543470,3,8.7,6839,39,...,55.792271,37.543708,3.0,4.4,566.0,5.0,1.0,55.79,37.54,55.79_37.54
65,1854488173,калейдоскоп на невском,"Невский Проспект, 61","Санкт-Петербург, Россия",59.93185,30.351873,3,9.3,950,42,...,59.931963,30.352171,4.0,4.9,626.0,5.0,1.0,59.93,30.35,59.93_30.35
66,1854488173,калейдоскоп на невском,"Невский Проспект, 61","Санкт-Петербург, Россия",59.93185,30.351873,3,9.3,950,42,...,59.931963,30.352171,4.0,4.9,626.0,5.0,1.0,59.93,30.35,59.93_30.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45348,1914625780,лазурит,5 улица Единство,"Сочи, Россия",43.91250,39.341370,0,0.0,0,0,...,48.475410,135.083578,3.0,4.8,146.0,5.0,1.0,48.48,135.08,48.48_135.08
45349,1914625780,лазурит,5 улица Единство,"Сочи, Россия",43.91250,39.341370,0,0.0,0,0,...,48.475410,135.083578,3.0,4.8,146.0,5.0,1.0,48.48,135.08,48.48_135.08
45384,1322392449,море,"Сочинское ш., д. 2, лит. И","Сочи, Россия",43.89941,39.336800,0,8.2,0,0,...,43.116176,131.879260,3.0,4.9,119.0,5.0,1.0,43.12,131.88,43.12_131.88
45385,1322392449,море,"Сочинское ш., д. 2, лит. И","Сочи, Россия",43.89941,39.336800,0,8.2,0,0,...,43.116176,131.879260,3.0,4.9,119.0,5.0,1.0,43.12,131.88,43.12_131.88
45386,1322392449,море,"Сочинское ш., д. 2, лит. И","Сочи, Россия",43.89941,39.336800,0,8.2,0,0,...,43.116176,131.879260,3.0,4.9,119.0,5.0,1.0,43.12,131.88,43.12_131.88

In [91]:
df = df.drop_duplicates()

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42658 entries, 0 to 45525
Data columns (total 41 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  42658 non-null  int64
 1   name                38657 non-null  object
 2   address             42564 non-null  object
 3   location_id         42658 non-null  object
 4   latitude_x          42658 non-null  float64
 5   longitude_x         42658 non-null  float64
 6   stars               42658 non-null  int64
 7   rating              42658 non-null  float64
 8   reviews_count       42658 non-null  int64
 9   min_price           42658 non-null  int64
 10  distance_to_center  42658 non-null  int64
 11  property_type       42658 non-null  object
 12  photos_count        42658 non-null  int64
 13  amenities           10574 non-null  object
 14  badges              1418 non-null   object
 15  check_in            0 non-null      float64
 16  check_out           0 non-null      float64
 17  popularity          42658 non-null  int64
 18  popularity2         42658 non-null  int64
 19  trending_speed      42658 non-null  float64
 20  pois_distances      42657 non-null  object
 21  weights             42658 non-null  float64
 22  district_name       42658 non-null  object
 23  lat_round_x         42658 non-null  float64
 24  lon_round_x         42658 non-null  float64
 25  geo_key_x           42658 non-null  object
 26  checkinTime         1085 non-null   object
 27  checkoutTime        1085 non-null   object
 28  amenityFeature      1085 non-null   object
 29  address_Locality    1085 non-null   object
 30  street_Address      1085 non-null   object
 31  latitude_y          1085 non-null   float64
 32  longitude_y         1085 non-null   float64
 33  Otello_starRating   1085 non-null   float64
 34  Otello_ratingValue  1085 non-null   float64
 35  Otello_ratingCount  1085 non-null   float64
 36  Otello_bestRating   1085 non-null   float64
 37  Otello_worstRating  1085 non-null   float64
 38  lat_round_y         1085 non-null   float64
 39  lon_round_y         1085 non-null   float64
 40  geo_key_y           1085 non-null   object
dtypes: float64(18), int64(8), object(15)
memory usage: 13.7+ MB

In [98]:
df.columns

Index(['id', 'name', 'address', 'location_id', 'latitude_x', 'longitude_x',
       'stars', 'rating', 'reviews_count', 'min_price', 'distance_to_center',
       'property_type', 'photos_count', 'amenities', 'badges', 'check_in',
       'check_out', 'popularity', 'popularity2', 'trending_speed',
       'pois_distances', 'weights', 'district_name', 'lat_round_x',
       'lon_round_x', 'geo_key_x', 'checkinTime', 'checkoutTime',
       'amenityFeature', 'address_Locality', 'street_Address', 'latitude_y',
       'longitude_y', 'Otello_starRating', 'Otello_ratingValue',
       'Otello_ratingCount', 'Otello_bestRating', 'Otello_worstRating',
       'lat_round_y', 'lon_round_y', 'geo_key_y'],
      dtype='object')

In [101]:
df = df.drop(columns=['lat_round_y', 'lon_round_y', 'geo_key_y', 'lat_round_x', 'lon_round_x', 'geo_key_x'])

In [104]:
df = df.rename(columns={'latitude_x':'latitude', 'longitude_x':'longitude'})

In [105]:
df.columns

Index(['id', 'name', 'address', 'location_id', 'latitude', 'longitude',
       'stars', 'rating', 'reviews_count', 'min_price', 'distance_to_center',
       'property_type', 'photos_count', 'amenities', 'badges', 'check_in',
       'check_out', 'popularity', 'popularity2', 'trending_speed',
       'pois_distances', 'weights', 'district_name', 'checkinTime',
       'checkoutTime', 'amenityFeature', 'address_Locality', 'street_Address',
       'latitude_y', 'longitude_y', 'Otello_starRating', 'Otello_ratingValue',
       'Otello_ratingCount', 'Otello_bestRating', 'Otello_worstRating'],
      dtype='object')

In [106]:
df.to_csv('merged_hotels.csv', index=False)